<a href="https://colab.research.google.com/github/svbritesh/Internship-Devliverables/blob/master/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print a word.
print("ritesh")

ritesh

In [ ]:
# fizz buzz
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
# Addition of two numbers.
x=1
y=3
print(x+y)

4

In [ ]:
#Multipication of number in range.
rows= int(input("enter the number:"))
for  i in range (1, 5):
   print(8 * i)

enter the number:3
8
16
24
32

In [ ]:
# Greeting.
name=input("what is your name")
print("good morning",name)

what is your name ritesh
good morning  ritesh

In [ ]:
#Printing pattern.
rows=int(input("enter the number of rows"))
for i in range(1, rows+1):
  print("*"*i)

enter the number of rows5
*
**
***
****
*****

In [ ]:
#fizz buzz.
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("fizzbuzz")
  elif i%3==0:
    print("fizz")
  elif i%5==0:
    print("buzz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
#checking palindrome.
def is_palindrome(word):
  return word==word[::-1]
print(is_palindrome("madam"))

True

In [ ]:
#finding the max value.
def find_max(list):
  max_value=list[0]
  for num in list:
    if num>max_value:
      max_value=num
  return max_value
print(find_max([8,30,9,4,20,16]))

30

In [ ]:
#Reverse a word.
def reverse(word):
  return word[::-1]

print(reverse("tonic"))

cinot

In [ ]:
#Reverse a word.
def reverse(word):
    return word[::-1]

print("reverse:", reverse("hitech"))

reverse: hcetih

In [ ]:
#counting vowels
def count_vowels(s):
  vowels="aeiouAEIOU"
  count=0
  for ch in s:
    if ch in vowels:
      count+=1
  return count
print(count_vowels("intern"))

2

In [ ]:
#length of a string.
word="ritesh"
print(len(word))

6

In [ ]:
#printing all characters in a string.
word="vijay"
for ch in word:
  print(ch)

v
i
j
a
y

In [ ]:
#addition.
x=1
y=3
print(x+y)

4

In [ ]:
#sum of numbers in range.
def sum(n):
  total=0
  for i in range(1,n+1):
    total+=i
  return total
print(sum(10))

55

In [ ]:
# sum of numbers in range using while loop.
def sum(n):
  total=0
  i=1
  while i<=n:
    total+=i
    i+=1
  return total
print(sum(10))

55

In [ ]:
#Factorial of a number.
def factorial(n):
  result=1
  for i in range(1,n+1):
    result*=i
  return result
print(factorial(0))

1

In [ ]:
#checking even or odd
def even_odd(n):
  if n%2==0:
    return "even"
  else:
    return "odd"
print(even_odd(45))

odd

In [ ]:
#reverse a list.
def reverse_list(l):
  return l[::-1]

print(reverse_list([3,6,4,5,1]))

[1, 5, 4, 6, 3]

In [ ]:
#prime number
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,int(n**0.5)+1):
      if n%i==0:
       return False
  else:
    return True


print(is_prime(3))

True

In [ ]:
#splitting of a sentence.
def count_words(sentence):
    return (sentence.split())

print(count_words("Python is easy to learn"))

['Python', 'is', 'easy', 'to', 'learn']

In [ ]:
#no of words in a sentence.
def count_words(sentence):
    return len(sentence.split())

print(count_words("Python is easy to learn"))

5

In [ ]:
#splitting of sentence and no of words.
def split_words(s):
  words=s.split()
  x=len(words)
  return words ,x
print(split_words("hi mor it"))

(['hi', 'mor', 'it'], 3)

In [ ]:
#String concatenation
name=input("enter the name:")
age=input("enter the age:")
print("hello"+" "+name+ " "+ "you are"+ " " +age+" "+"years old")

enter the name:vijay
enter the age:21
hello vijay you are 21 years old

In [ ]:
# addition.
first=float(input("n:"))
second=float(input("o:"))
sum=first+second
print("sum",sum)

n:102
o:20.1
sum 122.1

In [ ]:
#printing the string in upper case letters.
x="good morning"
print(x.upper())

GOOD MORNING

In [ ]:
# position of a ch in a string.
x="intiate the python technology"
char="t"
position=[]
for i in range(len(x)):
  if x[i]==char:
   position.append(i)
print(position)

[2, 5, 8, 14, 19]

In [ ]:
#position of every ch in string.
x= "good morning"
for ch in x:
  print(ch,x.find(ch))

g 0
o 1
o 1
d 3
  4
m 5
o 1
r 7
n 8
i 9
n 8
g 0

In [ ]:
#simple calculation
print(10/3)

3.3333333333333335

In [ ]:
#weight and units.
weight=int(input("enter the weight:"))
unit=input("l or k:")
if unit=="k":
  x=weight/10
  print(x)
else:
  y=weight+10
  print(y)

enter the weight:100
l or k:k
10.0

In [ ]:
#Pattern using while loop.
i=1
while i<=10:
  print(i*"*")
  i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# pattern
n=int(input("enter the number:"))
for i in range(1,n+1):
  print(i*"*")

enter the number:10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#print alternatives
n = int(input("enter the number:"))
for i in range(1, n+1,2):
    print(i)

enter the number:10
1
3
5
7
9

In [ ]:
#printing numbers
numbers=[1,2,3,4,5,]
for i in numbers:
  print(i)

1
2
3
4
5

In [ ]:
# printing numbers using while loop
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [ ]:
#printing alternatives
numbers=range(9,15,2)
for i in numbers:
  print(i)

9
11
13

In [ ]:
#identifying the num with index.
n=(1,2,3,2,3,1)
i=n.index(3)
print(i)

2

In [ ]:
#sum of num in range.
n=int(input("enter the number:"))
total=0
for i in range(1,n+1):
  total+=i
print(total)

enter the number:10
55

In [ ]:
#multipication table.
n=int(input("enter the number:"))
for i in range(1,n+1):
  print(f"{n} x {i}={n*i}")

enter the number:5
5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25

In [ ]:
#check leap year or not.
year=int(input("enter the year:"))
if (year%4==0 and year%100!=0) or year%400==0:
  print("leap year")
else:
  print("not leap year")

enter the year:2020
leap year

In [ ]:
#arithmeatic operations.
a=float(input("enter the number:"))
b=float(input("enter the number:"))
op=input("enter the op:")
if op=="+":
  print(a+b)
elif op=="-":
  print(a-b)
elif op=="*":
  print(a*b)
elif op=="/":
    if b!=0:
      print(a/b)
    else:
      print("not define")
else:
  print("invalid")

enter the number:4
enter the number:5
enter the op:/
0.8

In [ ]:
#odd numbers.
for i in range(1,51):
  if(i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#print consonants
x=input("enter the string:")
vowels="aeiouAEIOU"
count=0
for ch in x:
  if ch not in vowels:
    count+=1
print(count)

enter the string:hiimvijay
5

In [ ]:
#max num in the list.
num=[1,22,3,4,5]
max_num=num[0]
for i in num:
  if i>max_num:
    max_num=i
print(max_num)

22

In [ ]:
#second largest number.
num=[23,10,55,86,34]
first=second=float('-inf')
for i in num:
  if i>first:
    second=first
    first=i
  elif i > second and i!=first:
    second=i
print(second)

55

In [ ]:
#sum of digits.
num = int(input("Enter number: "))
total = 0
while num > 0:
    total += num % 10
    num=num//10
print("Sum of digits:", total)

Enter number: 123
Sum of digits: 6

In [ ]:
#prime number.
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
    return True
print(is_prime(5))

True

In [ ]:
#longest substring
words=["flow","fly","flight"]
result = ""
for i in range (len(min(words))):
  ch=words[0][i]
  if all(word[i]==ch for word in words):
    result+=ch
  else:
    break
print(result)

fl

In [ ]:
#swapping and adding.
n=int(input("enter the num:"))
a,b= 0,1
for i in range(1,n+1):
  a,b=b,a+b
  print(a,end="")

enter the num:5
11235

In [ ]:
#swapping and adding.
n=int(input("enter the num:"))
a,b= 0,1
for i in range(n):
  a,b=b,a+b
  print(a,end="")

enter the num:5
11235

In [ ]:
#postion of a num in matrix.
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][1])

5

In [ ]:
#squares of a num.
for x in range(1, 6):
    squares = x**2
    print(squares)

1
4
9
16
25

In [ ]:
#fibanocci series.
n = int(input("Enter number of terms: "))
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 7
0 1 1 2 3 5 8